.loading{
	width: 25%;
	height: 100%;
	background-image: url('https://thumbs.gfycat.com/UnitedSmartBinturong-max-1mb.gif');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}
