.app {
  background-color: white;
  color: white;
  min-height: 100vh;
  height: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Questrial', sans-serif;
}

.giphyBackground{
  background-size: cover;
  background-position: center;
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}
